.highlight-text {
    display: inline;
    padding: 3px;

    &.red {
        @include themed() {
            background-color: t('highlight-text-red-bg');
        }
    }
    &.green {
        @include themed() {
            background-color: t('highlight-text-green-bg');
        }
    }
    &.blue {
        @include themed() {
            background-color: t('highlight-text-blue-bg');
        }
    }
    &.purple {
        @include themed() {
            background-color: t('highlight-text-purple-bg');
        }
    }
    &.orange {
        @include themed() {
            background-color: t('highlight-text-orange-bg');
        }
    }
    &.yellow {
        @include themed() {
            background-color: t('highlight-text-yellow-bg');
        }
    }
    &.cyan {
        @include themed() {
            background-color: t('highlight-text-cyan-bg');
        }
    }
    &.primary {
        @include themed() {
            background-color: t('highlight-text-primary-bg');
        }
    }
    &.success {
        @include themed() {
            background-color: t('highlight-text-success-bg');
        }
    }
    &.warning {
        @include themed() {
            background-color: t('highlight-text-warning-bg');
        }
    }
    &.danger {
        @include themed() {
            background-color: t('highlight-text-danger-bg');
        }
    }

}