#add-project {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px auto;
  max-width: 400px;
  height: 480px;
  // bootstrap form styling start
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  input[disabled] {
    cursor: default;
  }
  button.btn[disabled],
  button.btn[disabled] {
    color: darkgrey !important;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #999999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999999;
  }
  .form-control::-ms-expand {
    border: 0;
    background-color: transparent;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
  }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed;
  }
  textarea.form-control {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
      line-height: 34px;
    }
    input[type="date"].input-sm,
    input[type="time"].input-sm,
    input[type="datetime-local"].input-sm,
    input[type="month"].input-sm,
    .input-group-sm input[type="date"],
    .input-group-sm input[type="time"],
    .input-group-sm input[type="datetime-local"],
    .input-group-sm input[type="month"] {
      line-height: 30px;
    }
    input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
      line-height: 46px;
    }
  }
  .form-group {
    margin-bottom: 15px;
  }
  dl {
    margin-top: 0;
    margin-bottom: 20px;
  }
  dt,
  dd {
    line-height: 1.42857143;
  }
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    min-height: auto;
  }
  .alert h4 {
    margin-top: 0;
    color: inherit;
  }
  .alert .alert-link {
    font-weight: bold;
  }
  .alert > p,
  .alert > ul {
    margin-bottom: 0;
  }
  .alert > p + p {
    margin-top: 5px;
  }
  .alert-dismissable,
  .alert-dismissible {
    padding-right: 35px;
  }
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .alert-success hr {
    border-top-color: #c9e2b3;
  }
  .alert-success .alert-link {
    color: #2b542c;
  }
  .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .alert-info hr {
    border-top-color: #a6e1ec;
  }
  .alert-info .alert-link {
    color: #245269;
  }
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .alert-warning hr {
    border-top-color: #f7e1b5;
  }
  .alert-warning .alert-link {
    color: #66512c;
  }
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  .alert-danger .alert-link {
    color: #843534;
  }
  
  // parsley bootstrap
  input.parsley-success,
  select.parsley-success,
  textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
  }

  input.parsley-error,
  select.parsley-error,
  textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
  }

  .parsley-errors-list {
    margin: 10px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.4em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
  }

  .parsley-errors-list.filled {
    opacity: 1;
  }
  // base changes
  input.form-control {
    border: 1px solid map-get($border-tiny-color, 'dark');
  }
  .clearfix {
    clear: both;
  }
  
  // specific changes
  .error-msg {
    margin-bottom: 5px;
  }
  .actions {
    button {
      margin: 0px 5px;
    }
  }
  .sub-head {
    text-align: center;
    img {
      height: 120px;
      width: auto;
    }
  }
  .steps {
    ul {
      list-style: none;
      padding: 0;
      margin: 20px 0px 0px 0px;
      text-align: center;
    }
    li {
      .current-info {
        display: none;
      }
      display: inline-block;
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      background-color: #dadada;
      border: 1px solid map-get($border-tiny-color, 'dark');
      border-right-width: 0px;
      border-left-width: 0px;
      &.first {
        border-left-width: 1px;
        border-radius: 5px 0px 0px 5px;
      }
      &.last {
        border-right-width: 1px;
        border-radius: 0px 5px 5px 0px;
      }
      &.done {
        background-color: #eee;
      }
      &.current {
        background-color: #f5f5f5;
      }
      &.done:hover {
        background-color: #fefefe;
      }
      a {
        color: map-get($colors, 'base');
        display: block;
        padding: 10px 25px;
        &:hover {
          text-decoration: none
        }
      }
    }
  }
  .fixed-wrap {
    position: relative;
  }
  .finish,
  .wizard {
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 275px;
  }
  .wizard .content {
    position: relative;
    width: 100%;
    height: 275px;
    margin: 0px auto;
    margin-top: 10px;
  }
  .wizard .content > h4 {
    display: none;
  }
  .wizard .content > section {
    float: left;
    height: 95%;
    padding: 2.5%;
    position: absolute;
    width: 95%;
    box-sizing: content-box;
  }
  .finish {
    float: left;
    height: 95%;
    padding: 2.5%;
    position: absolute;
    width: 95%;
    box-sizing: content-box;
    display: none; /* wait until finish */
    margin: 0px auto;
    margin-top: 10px;
  }
  .project-url-dd,
  .project-download-url-dd {
    word-wrap: break-word;
  }
  // responsive
  @media (max-width: 500px) {
    & {
      font-size: 90%;
    }
    .steps li a {
      padding: 10px 10px;
    }
  }
}


#add {
    display:     none;
    position:    fixed;
    top:         0;
    left:        0;
    width:       100%;
    height:      100%;
    background:  map-get($add, background);
    text-align:  center;
    line-height: 100%;
    overflow-y:  auto;
    overflow-x:  hidden;
    z-index:     map-get($z-indexes, l-add);

    #add-card {
        position:      relative;
        // Position the card out the page to improve the javascript drop effect
        top:           -1000px;
        display:       block;
        background:    white;
        max-width:     400px;
        margin:        15px auto;
        border-radius: 3px;
        padding:       30px 0px 0px 0px;
        @include prefix(box-shadow, 0 0 5px rgba(0, 0, 0, 0.50), 'webkit' 'moz');

        #add-btn-close {
            position: absolute;
            top:      15px;
            right:    15px;
            color:    map-get($colors, light);
            cursor:   pointer;

            &:hover {
                color: darken(map-get($colors, light), 15);
            }
        }
        #add-card-picture {
            margin-bottom: 15px;
        }
        #add-card-name {
            margin-top:    0;
            margin-bottom: 20px;
        }
        #add-card-bio {
            padding: 0 30px;
            margin:  0 0 30px 0;
        }
        #add-card-job,
        #add-card-location {
            display:        inline-block;
            vertical-align: top;
        }
        #add-card-job,
        #add-card-location,
        #add-card-bio {
            font-size:   $font-size-base;
            line-height: $line-height-base;
            font-weight: 400;
            color:       map-get($colors, base);
        }
    }
}

// Improve responsiveness of add card on small screen and down
@media #{$small-and-down} {
    #add {
        #add-card {
            width: 90%;

            #add-card-job,
            #add-card-location {
                display: block;
                width:   calc(100% - 60px); // 60px = padding right + padding left of `#add-card`
                padding: 0 30px;
            }
            #add-card-picture {
                width:         90px;
                height:        90px;
                border-radius: 45px;
            }
            #add-card-job {
                margin-bottom: 15px;
            }
        }
    }
}

// Improve responsiveness of add card on medium screen and up
@media #{$medium-and-up} {
    #add {
        #add-card {
            width: 80%;
            #add-card-picture {
                width:         110px;
                height:        110px;
                border-radius: 55px;
            }
            #add-card-job,
            #add-card-location {
                display: inline-block;
                // 48px =  padding right of `#add-card-job` + `#add-card-location`
                width:   calc((100% / 2) - 48px);
            }
            #add-card-job {
                padding: 0 15px 0 30px;
            }
            #add-card-location {
                padding: 0 30px 0 15px;
            }
        }
    }
}
