.item-with-extra {
  .main-content-wrap { 
    width: map-get($main-content, max-width) + map-get($item-content, extra-width-lg);
    max-width: inherit;
  }
  .item-content {
    margin-right: map-get($item-content, extra-width-lg);
  }
  .item-extra {
    width: map-get($item-content, extra-width-lg);
    float: right;
    .item-image {
      text-align: center;
      padding: 5px;
      img {
        display: inline-block;
        max-width: 100%;
        width: auto;
      }
    }
    .item-download,
    .item-project-link {
      padding: 5px;
      a {
        line-height: 1.4em;
        text-align: center;
        display: block;
        padding: 5px 15px;
      }
    }
  }
  @media (max-width: map-get($main-content, max-width) +
                     map-get($item-content, extra-width-lg) + 320px) {
    // 320px for left menu and some extra offset
    .main-content-wrap {
      width: auto;
      max-width: map-get($main-content, max-width);
    }
    .item-content {
      margin-right: 0px;
    }
    .item-extra {
      float: none;
      width: auto;
      .item-image {
        text-align: center;
        img {
          max-width: 210px;
        }
      }
      .btn-group {

      }
      .item-download,
      .item-project-link {
        .fa-2x {
          font-size: 120%;
        }
        display: inline-block;
        padding: 0px;
        a {
          display: inline-block;
        }
      }
    }
  }
}