.home-content {
  max-width: inherit;
  .sticky {
    max-width: 750px;
    margin: 0px auto;
  }
  .home-lookup-wrp  {
    max-width: 700px;
    margin: 10px auto;
    .parsley-errors-list {
      clear: both;
      margin-top: 5px;
    }
    .search-group {
      button {
        margin-top: 10px;
        float: right;
      }
    }
    @media(max-width: 749px) and (min-width: 300px) {
      .search-group {
        display: flex;
        flex-direction: row;
        button {
          width: 90px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-left: 5px;
          margin-top: 0px;
        }
      }
    }
    @media(min-width: 750px) {
      .search-group {
        input {
          float: left;
          width: 600px;
        }
        button {
          float: right;
          width: 90px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-top: 0px;
        }
      }
    }
  }
  .postShorten-excerpt {
    font-size: 90%;
  }
  .list-group {
    margin-left: -15px;
    margin-right: -15px;
    .list {
      .list-head {
        margin: 10px 0px 0px 0px;
      }
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      width: 50%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      min-height: 1px;
    }
  }
  @media(max-width: map-get($main-content, max-width)) {
    .list-group {
      margin-left: 0px;
      margin-right: 0px;
      .list {
        float: none;
        width: auto;
      }
    }
  }
}