$home_logo_height: 3.8em;
$home_logo_color: #a50074;

.home-content {
  max-width: inherit;
  .sticky {
    max-width: 750px;
    margin: 0px auto;
  }
  .intro {
	text-rendering: optimizelegibility;
	letter-spacing: -0.3px;
	font-family:    map-get($font-families, 'post-content');
	color:          map-get($colors, base);
	margin-top:     20px;
	font-weight:    400;
	overflow:       hidden;
	@include prefix('hypens', 'auto', 'webkit' 'moz');  	
  }
  .center {
  	padding-left: 50px;
  	margin: auto;
  	display: block;
  }

  .home-lookup-wrp  {
    max-width: 700px;
    margin: 10px auto;
    .parsley-errors-list {
      clear: both;
      margin-top: 5px;
    }
    .search-group {
      button {
        margin-top: 10px;
        float: right;
      }
    }
    @media(max-width: 749px) and (min-width: 300px) {
      .search-group {
        display: flex;
        flex-direction: row;
        button {
          width: 90px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-left: 5px;
          margin-top: 0px;
        }
      }
    }
    @media(min-width: 750px) {
      .search-group {
        input {
          float: left;
          width: 600px;
        }
        button {
          float: right;
          width: 90px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-top: 0px;
        }
      }
    }
  }
  .postShorten-excerpt {
    font-size: 90%;
  }
  .list-group {
    margin-left: -15px;
    margin-right: -15px;
    .list {
      .list-head {
        margin: 10px 0px 0px 0px;
      }
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      width: 50%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      min-height: 1px;
    }
  }
  @media(max-width: map-get($main-content, max-width)) {
    .list-group {
      margin-left: 0px;
      margin-right: 0px;
      .list {
        float: none;
        width: auto;
      }
    }
  }
}

.home-logo {
  text-align: center;
  .fig-img, .home-title {
    display: inline-block;
    vertical-align: middle;
  }
  .fig-img {
    height: $home_logo_height;
    margin-right: 10px
  }
  .home-title {
    font-size: $home_logo_height;
    font-family: "Raleway-Regular", sans-serif;
    color: $home_logo_color;
    line-height: 1.3;
  }
  .caption {
    margin-top: 10px;
    color: darken(map-get($colors, 'light'), 20%);
  }
}