{{ if .IsPage }}
  {{ if .Site.Params.comment.disqus.enable }}
    <div id="disqus_thread">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <script type="text/javascript">
      var disqus_config = function() {
        this.page.url = '{{ .Permalink }}';
        {{ if .Params.disqusIdentifier }}
          this.page.identifier = '{{ .Params.disqusIdentifier }}';
        {{ else }}
          this.page.identifier = '{{ .RelPermalink }}'
        {{ end }}
      };
      (function() {
        // Don't ever inject Disqus on localhost--it creates unwanted
        // discussions from 'localhost:1313' on your Disqus account...
        if (window.location.hostname == "localhost") {
          return;
        }
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        var disqus_shortname = '{{ .Site.DisqusShortname }}';
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  {{ end }}
{{ end }}
