{{ if .Params.coverimage }}
  <div class="post-header-cover
              {{ if .Params.metaalignment }}text-{{ .Params.metaalignment }}{{ else }}text-left{{ end }}
              {{ with .Params.coversize }}post-header-cover--{{ . }}{{ end }}"
    {{ if (not .Params.coverHeight) }}
       style="background-image:url('{{ .Params.coverimage }}')"
    {{ else }}
       style="background-image:url('{{ .Params.coverimage }}'); height:{{ .Params.coverHeight }}%"
    {{ end }}
       data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
    {{ if or (eq .Params.covermeta "in") (not .Params.covermeta) }}
      {{ partial "post/header.html" . }}
    {{ end }}
  </div>
{{ end }}
