{{ if .Params.coverimage }}
  <div class="post-header-cover
              {{ if .Params.metaalignment }}text-{{ .Params.metaalignment }}{{ else }}text-left{{ end }}
              {{ with .Params.coversize }}post-header-cover--{{ . }}{{ end }}"
      {{ with .Resources.GetMatch ( .Params.coverimage ) }}
        {{ $.Scratch.Set "coverImage" (.RelPermalink) }}
      {{ else }}
        {{ $.Scratch.Set "coverImage" (.Params.coverimage ) }}
      {{ end }}
        style="background-image:url('{{ $.Scratch.Get "coverImage" | relURL }}')"
      data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
    {{ if or (eq .Params.covermeta "in") (not .Params.covermeta) }}
      {{ partial "post/header.html" . }}
    {{ end }}
  </div>
{{ end }}
