<div class="add-wrapper bootstrap-form-wrapper">
  {{ partial "post/content.html" . }}
  {{ with $.Site.Params.Add }}
  <div class="state-loading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="state-after-loading collapsable collapse" data-extra-height="100">
    <div class="outer-error-msg alert alert-danger" role="alert" style="display:none">
    </div>
    <form id="add-project-submit-form" data-done-goto="{{ .done_url }}">
      <div class="warning-msg alert alert-warning" role="alert" style="display:none">
      </div>
      {{ range .submit_form.basic_fields }}
        {{ partial "add/_input" (index $.Site.Params.Add.field .) }}
      {{ end }}
      {{ if isset $.Site.Taxonomies "tags" }}
      <div class="tags form-group">
        <label for="tags-select">Tags</label>
        
        <select id="tags-select2" class="multiselect2 form-control" multiple="multiple" required>
          {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          <option>{{ $name }}</option>
          {{ end }}
        </select>
      </div>
      {{ end }}
      <button type="button" class="more-less-btn btn btn--default">More</button>
      <div class="add-form-more collapsable collapse">
        {{ range .submit_form.more_fields }}
          {{ partial "add/_input" (index $.Site.Params.Add.field .) }}
        {{ end }}
      </div>
      <script src="https://www.google.com/recaptcha/api.js"></script>
      <div class="g-recaptcha" data-sitekey="{{ .recaptcha_site_key }}"></div>
      <div class="error-msg alert alert-danger" role="alert" style="display:none">
      </div>
      <pre class="debug-result" style="display:none;">
      </pre>
      <div class="buttons-wrp">
        <button type="button" class="back-btn btn btn--default" data-goto="{{ .select_url }}">Back</button>
        <button type="submit" class="btn btn--primary">Submit</button>
      </div>
    </form>
    {{ end }}
  </div>
</div>
