<div class="add-wrapper bootstrap-form-wrapper">
  {{ partial "post/content.html" . }}
  {{ with $.Site.Params.Add }}
  <div class="state-loading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div class="state-after-loading">
    <form id="add-project-submit-form" data-done-goto="{{ .done_url }}">
      <div class="warning-msg alert alert-warning" role="alert" style="display:none">
      </div>
      {{ range .fields }}
        {{ if eq .type "select" }}
        <div class="form-group">
          <label for="{{ .name }}-inpf">{{ .label }}</label>
          <select class="form-control" id="{{ .name }}-inpf" name="{{ .name }}" {{with .placeholder}}placeholder="{{.}}"{{end}} {{if isset . "required"|and .required }}required=""{{end}} {{ if isset . "can_edit" | and .can_edit | not }}disabled=""{{end}}>
            {{ range .options }}
            <option value="{{ index . 0 }}">{{ index . 1 }}</option>
            {{ end }}
          </select>
        </div>
        {{ else }}
        <div class="form-group">
          <label for="{{ .name }}-inpf">{{ .label }}</label>
          <input class="form-control" id="{{ .name }}-inpf" type="{{ .type }}" name="{{ .name }}" {{with .placeholder}}placeholder="{{.}}"{{end}} {{if isset . "required"|and .required }}required=""{{end}} {{ if isset . "can_edit" | and .can_edit | not }}disabled=""{{end}} />
        </div>
        {{ end }}
      {{ end }}
      {{ if isset $.Site.Taxonomies "tags" }}
      <div class="tags form-group">
        <label for="tags-select">Tags</label>
        
        <select id="tags-select2" class="multiselect2 form-control" multiple="multiple" required>
          {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          <option>{{ $name }}</option>
          {{ end }}
        </select>
      </div>
      {{ end }}
      <script src="https://www.google.com/recaptcha/api.js"></script>
      <div class="g-recaptcha" data-sitekey="{{ .recaptcha_site_key }}"></div>
      <div class="error-msg alert alert-danger" role="alert" style="display:none">
      </div>
      <pre class="debug-result" style="display:none;">
      </pre>
      <div class="buttons-wrp">
        <button type="button" class="back-btn btn btn--default" data-goto="{{ .select_url }}">Back</button>
        <button type="submit" class="btn btn--primary">Submit</button>
      </div>
    </form>
    {{ end }}
  </div>
</div>
