<div class="post-actions-wrap">
  <nav>
    <ul class="post-actions post-action-nav">
      <li class="post-action">
       &nbsp;
      </li>
    </ul>
  </nav>
  <ul class="post-actions post-action-share">
    <li class="post-action hide-lg hide-md hide-sm">
      <a class="post-action-btn btn btn--default btn-open-shareoptions" href="#btn-open-shareoptions">
        <i class="fa fa-share-alt"></i>
      </a>
    </li>
    <li class="post-action hide-xs">
      <a class="post-action-btn btn btn--default" target="new" href="https://plus.google.com/share?url={{ .Permalink }}">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
    <li class="post-action hide-xs">
      <a class="post-action-btn btn btn--default" target="new" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
        <i class="fa fa-facebook-official"></i>
      </a>
    </li>
    <li class="post-action hide-xs">
      <a class="post-action-btn btn btn--default" target="new" href="https://twitter.com/intent/tweet?text={{ .Permalink }}">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>

