<div id="add">
  <div id="add-card">
    <div id="add-btn-close">
      <i class="fa fa-remove"></i>
    </div>
    <section id="add-project">
      <div class="sub-head">
        {{ with ($.Scratch.Get "authorPicture") }}
        <img id="add-card-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
        {{ end }}
      </div>
      <div class="fixed-wrap">
        <div class="wizard">
          <h4>Enter Project</h4>
          <section class="step-enter">
            <form id="add-project-form" data-parsley-validate="">
              <p>Enter url of your public project on internet.</p>
              <div class="form-group">
                <label for="add-form-url">URL</label>
                <input class="form-control" id="add-form-url" type="url" name="url" placeholder="URL of your project" required="" data-parsley-project-url />
              </div>
              <div class="error-msg alert alert-danger" role="alert" style="display:none">
              </div>
              <button type="submit" class="btn btn--primary">Open</button>
            </form>
          </section>
          <h4>Confirm</h4>
          <section class="step-confirm">
            <dl>
              <dt>URL</dt>
              <dd class="project-url-dd"></dd>
              <dt>Project Title</dt>
              <dd class="project-title-dd"></dd>
              <dt>Download URL</dt>
              <dd class="project-download-url-dd"></dd>
            </dl>
            <div class="error-msg alert alert-danger" role="alert" style="display:none">
            </div>
            <div class="actions">
              <button type="button" class="back-btn btn btn--default">Back</button>
              <button type="button" class="save-btn btn btn--primary">Save</button>
            </div>
          </section>
        </div>
        <div class="finish">
          <h4>Thank you for submiting your project to us.</h4>
        </div>
      </div>
    </section>
  </div>
</div>
