<div id="add">
  <div id="add-card">
    <div id="add-btn-close">
      <i class="fa fa-remove"></i>
    </div>
    {{ with ($.Scratch.Get "authorPicture") }}
      <img id="add-card-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
    {{ end }}
    <h4 id="add-card-name">Add your project</h4>
      <div id="add-card-bio">Enter the URL of your project/descriptor file here 
      <p>
      <form method="post" name="addForm" id="addForm" action="#">
      <input type="text" name="url" />
      </form>
      </p>
      
      </div>
  </div>
</div>
