<script>
  function setTheme(themeName) {
    if (themeName === 'dark') {
      document.documentElement.classList.remove('theme--light');
      document.documentElement.classList.add('theme--dark');
    }
    else {
      document.documentElement.classList.remove('theme--dark');
      document.documentElement.classList.add('theme--light');
    }

    localStorage.setItem('theme', themeName);
    document.documentElement.setAttribute('data-theme', themeName);
  }

  var currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;

  // A theme has been chosen by the user on this site, we apply it
  if (currentTheme) {
    if (currentTheme === 'dark') {
      setTheme('dark');
    }
    else {
      setTheme('light');
    }
  }
  else {
      // No choice yet, we look at the preferences of the OS / browser
      if (window.matchMedia("(prefers-color-scheme: dark)")) {
        setTheme('dark');
      }
      else if (window.matchMedia("(prefers-color-scheme: light)")) {
        setTheme('light');
      }
      else {
        // By default, we apply the dark theme
        setTheme('dark');
      }
  }

  var mqDark = window.matchMedia('(prefers-color-scheme: dark)');
  var mqLight = window.matchMedia('(prefers-color-scheme: light)');

  function checkTheme(event) {
    if (event.matches) {
      if (event.media.includes('dark')) {
        setTheme('dark');
        document.getElementById('slider').checked = false;
      }
      if (event.media.includes('light')) {
        setTheme('light');
        document.getElementById('slider').checked = true;
      }
    }
  }

  try {
    mqDark.addEventListener('change', checkTheme);
    mqLight.addEventListener('change', checkTheme);
  } catch (maybeSafari) {
    try {
      mqDark.addListener(checkTheme);
      mqLight.addListener(checkTheme);
    } catch (dontknow) {
      // not supported…
    }
  }
</script>
