{{ $siteLanguages := site.Languages}}
{{ $pageLang := .Page.Lang}}
{{- range .Page.AllTranslations }}
    {{ $translation := . }}
    {{- range sort $siteLanguages "Weight" "asc" }}
        {{- if eq $translation.Lang .Lang }}
            {{ if eq $pageLang .Lang}}
                <a class="english-flag" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageName }}{{ .Params.languageFlag }}</a>
            {{ else }}
                <a class="norwegian-flag" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageName }}{{ .Params.languageFlag }}</a>
            {{ end }}
        {{- end }}
    {{- end }}
{{- end }}