<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    {{ with ($.Scratch.Get "authorPicture") }}
      <div class="sidebar-profile">
        <a href="{{ if $.Site.Params.sidebar.profile.url }}{{ $.Site.Params.sidebar.profile.url }}{{ else }}{{ "/#about" }}{{ end }}">
          <img class="sidebar-profile-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
        </a>
        <h4 class="sidebar-profile-name">{{ $.Site.Author.name }}</h4>
        {{ with $.Site.Author.bio }}
          <h5 class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    {{ end }}
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.links "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}
    </ul>
  </div>
</nav>

<script lang="javascript">
window.onload = updateMinWidth;
window.onresize = updateMinWidth;
document.getElementById("sidebar").addEventListener("transitionend", updateMinWidth);
function updateMinWidth() {
  var sidebar = document.getElementById("sidebar");
  var main = document.getElementById("main");
  main.style.minWidth = "";
  var w1 = getComputedStyle(main).getPropertyValue("min-width");
  var w2 = getComputedStyle(sidebar).getPropertyValue("width");
  var w3 = getComputedStyle(sidebar).getPropertyValue("left");
  main.style.minWidth = `calc(${w1} - ${w2} - ${w3})`;
}
</script>