{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ if or (not (isset .Site.Params "tagPagination")) (.Site.Params.tagPagination) }}
        {{ partial "post/header-cover.html" . }}
      {{ end }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        {{ if or (not (isset .Site.Params "tagPagination")) (.Site.Params.tagPagination) }}
          <section class="postShorten-group main-content-wrap">
            <!-- with exception un-moderated -->
            {{ if eq .URL "/tags/un-moderated/" }}
              <!-- UNMODERATED ITEMS WITH NO CHECK -->
              {{ .Scratch.Set "paginator" (.Paginate (where .Data.Pages "Section" "item")) }}
            {{ else }}
              <!-- MODERATED ITEMS -->
              {{ .Scratch.Set "paginator" (.Paginate (where (where .Data.Pages "Section" "item") "Params.moderated" true)) }}
            {{ end }}
            {{ range (.Scratch.Get "paginator").Pages }}
              {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination.html" . }}
          </section>
        {{ else }}
          <div id="archives" class="main-content-wrap">
            <form id="filter-form" action="#">
              <input name="date" type="text" class="form-control input--xlarge" placeholder="{{ i18n "global.search_date" }}" autofocus="autofocus">
            </form>
            <!-- with exception un-moderated -->
            {{ if eq .URL "/tags/un-moderated/" }}
              <!-- UNMODERATED ITEMS WITH NO CHECK -->
              {{ partial "archive-post.html" (where .Data.Pages "Section" "item") }}
            {{ else }}
              <!-- MODERATED ITEMS -->
              {{ partial "archive-post.html" (where (where .Data.Pages "Section" "item") "Params.moderated" true) }}
            {{ end }}
          </div>
        {{ end }}
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
